@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  text-decoration: none;
}
.cont {
  width: 1000px;
  margin: auto;
  font-size: 18px;
}
h2 {
  color: blue;
  text-transform: capitalize;
}
body {
  background: #dadada;
}

.container {
  width: 100;
}

.container header {
}
.container header .top {
  background: #fff;
  padding: 10px;
}
.container header .top .cont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container header .top .cont .logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
}
.container header .top .cont .logo a {
  text-decoration: none;
  color: blue;
  padding: 5px;
  font-weight: bold;
}
.container header .top .cont .logo .sep {
  border-left: 2px solid gray;
  margin: 5px;
}
.container header .top .cont .logo p {
  padding: 5px;
}
.container header .top .cont .buttons .signin {
  background: #259125;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #000;
  color: #fff;
}
.container header nav {
  background: #000;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
.container header nav ul li {
}
.container header nav ul li a {
  color: #dadada;
  padding: 5px;
  text-decoration: none;
}

.hero {
  margin-top: 20px;
}
.hero .box a {
  display: flex;
  background: #fff;
  border-radius: 5px;
  color: #000;
}
.hero .box a .img {
  flex: 2;
  padding: 5px;
}
.hero .box a .img img {
  width: 100%;
  border-radius: 5px;
}
.hero .box a .info {
  flex: 1;
  padding: 5px;
}
.hero .box a .info p {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.hero .box a .info p span {
  background: #259125;
  padding: 5px;
  color: #fff;
}
.hero .box a .info h2 {
  padding: 20px;
  color: #161616;
  font-weight: 400;
}

.lower .cont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 10px;
}
.lower .cont .bnews {
  flex: 2;
}
.lower .cont .bnews .bn-cont {
}
.lower .cont .bnews .bn-cont .b-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.lower .cont .bnews .bn-cont .b-row .b-box {
  width: 48%;
}
.lower .cont .bnews .bn-cont .b-row .b-box a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.lower .cont .bnews .bn-cont .b-row .b-box a:hover {
  background: #fff;
  padding: 5px;
  margin-right: 5px;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}
.lower .cont .bnews .bn-cont .b-row .b-box a .img {
  flex: 1;
  padding: 5px;
  padding-left: 0;
}
.lower .cont .bnews .bn-cont .b-row .b-box a .img img {
  width: 100%;
  border-radius: 5px;
}
.lower .cont .bnews .bn-cont .b-row .b-box a .info {
  flex: 1;
  padding: 5px;
}
.lower .cont .bnews .bn-cont .b-row .b-box a .info h3 {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 300;
  color: #161616;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.lower .cont .bnews .bn-cont .b-row .b-box a .info p {
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
.lower .cont .bnews .bn-cont .b-row .b-box a .info p i {
  color: #000;
}
.lower .cont .today {
  flex: 1;
}
.lower .cont .today .t-cont {
  padding-left: 5px;
  background: #fff;
  height: 500px;
  border-radius: 5px;
  box-shadow: 1px 4px 6px 2px #16161671;
}
.lower .cont .today .t-cont .form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.lower .cont .today .t-cont .form p {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.lower .cont .today .t-cont .form p label {
  color: #259125;
  font-weight: bolder;
}
.lower .cont .today .t-cont .form p select {
  width: 100%;
  outline: 0;
}
.lower .cont .today .t-cont .contents-b {
  height: 450px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.lower .cont .today .t-cont .contents-b .onec {
  padding: 5px;
}
.lower .cont .today .t-cont .contents-b .onec h4 {
  font-size: 16px;
}
.lower .cont .today .t-cont .contents-b .onec .date {
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}
.lower .cont .today .t-cont .contents-b .onec .img {
  width: 100px;
  float: left;
}
.lower .cont .today .t-cont .contents-b .onec .img img {
  width: 100%;
}
.lower .cont .today .t-cont .contents-b .onec p {
  font-size: 14px;
  padding-left: 10px;
}

.podcasts {
  margin-top: 20px;
}
.podcasts .casts-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.podcasts .casts-row .cast-box {
  width: 24%;
  margin: auto;
  margin-left: 0;
}
.podcasts .casts-row .cast-box a {
  color: #000;
}
.podcasts .casts-row .cast-box a .img img {
  width: 100%;
  border-radius: 5px;
}
.podcasts .casts-row .cast-box a .info h4 {
  font-weight: 400;
}
.podcasts .casts-row .cast-box a .info p {
  font-weight: 600;
  font-size: 14px;
}

.fav-jou {
  margin-top: 20px;
}
.fav-jou .fav-jou-cont {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}
.fav-jou .fav-jou-cont .fav-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}

.fav-jou .fav-jou-cont .fav-row .fav-box {
  /* flex: 1; */
  width: 46%;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 0;
}
.fav-jou .fav-jou-cont .fav-row .fav-box .reporter a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #000;
}
.fav-jou .fav-jou-cont .fav-row .fav-box .reporter img {
  width: 40px;
  height: 40px;
}
.fav-jou .fav-jou-cont .fav-row .fav-box .reporter p {
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
}
.fav-jou .fav-jou-cont .fav-row .fav-box .article a {
  color: #000;
}
.fav-jou .fav-jou-cont .fav-row .fav-box .article a .info h4 {
  font-weight: 400;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.fav-jou .fav-jou-cont .fav-row .fav-box .article a .img {
  width: 100%;
}
.fav-jou .fav-jou-cont .fav-row .fav-box .article a .img img {
  width: 100%;
}

footer {
  background: #000;
  margin-top: 20px;
}
footer * {
  color: #dadada;
}
footer .footer-cont {
}
footer .footer-cont .brand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  padding-left: 0;
}
footer .footer-cont .brand img {
  width: 40px;
}
footer .footer-cont .brand a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}
footer .footer-cont .brand .sep {
  border-left: 2px solid gray;
  margin: 15px;
  margin-left: 0;
  margin-right: 5px;
}
footer .footer-cont .brand p {
  padding: 10px;
  padding-left: 0;
}
footer .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
footer .row h4 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 5px;
}
footer .row .impo-links {
  padding: 5px;
  padding-left: 0;
  flex: 1;
}
footer .row .impo-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
footer .row .impo-links ul li a {
  display: flex;
  flex-direction: row;
  padding: 5px;
  padding-left: 0;
}
footer .row .impo-links ul li a i {
  font-size: 14px;
}
footer .row .impo-links ul li a span {
  font-size: 14px;
  margin-left: 5px;
  font-weight: bold;
}
footer .row .about {
  flex: 4;
}
footer .row .about .about-cont  p {
  font-weight: bold;
}
footer .row .contacts .contact-cont ul {
  list-style: none;
}
footer .row .contacts .contact-cont ul li a {
  padding: 5px;
  padding-left: 0;
  display: flex;
  flex-direction: row;
}
footer .row .contacts .contact-cont ul li a i {
  font-size: 14px;
}
footer .row .contacts .contact-cont ul li a p {
  font-size: 14px;
}
footer .socialncopy {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}
footer .socialncopy .copy {
  font-weight: bold;
}
footer .socialncopy .sep {
  border-left: 2px solid gray;
  margin: 10px;
  margin-top: 0;
}
footer .socialncopy a {
  margin-right: 10px;
}
footer .socialncopy a img{
  width: 30px;
  border-radius: 15px;
}
footer .socialncopy a .x {
  background: #fff;
}